{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg1.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">i do nothing.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I often find myself diving into the realms of discipline and financial strategy through the pages of books.
          These are not just idle pastimes for me; they are essential to my journey toward self-improvement and financial acumen.
          Each book I read offers new insights into the principles of discipline,
          helping me to refine my habits and approach to achieving my goals.
          Similarly, the literature on money management provides me with valuable tools and strategies to navigate my financial landscape more effectively.
          The wisdom contained in these texts fuels my ambition and shapes my path to success.
        </p>
        <p>
          Beyond the world of books, I am deeply engrossed in the fascinating universe of coding and technology.
          Learning to code and understanding new technologies are more than just hobbies—they are a gateway to a future brimming with possibilities.
          I revel in the challenge of solving problems through programming and the thrill of discovering innovative tech solutions.
          This pursuit not only keeps my mind sharp but also ensures that I stay ahead in a field that is constantly evolving.
          Each new language or tool I master brings a sense of accomplishment and opens up new avenues for creativity and problem-solving.
        </p>
        <p>
          Another passion of mine is the Japanese language and culture.
          I have embarked on a journey to learn Japanese, immersing myself in its intricacies and nuances.
          This endeavor is more than just acquiring a new language; it is about connecting with a culture that is rich in history and tradition.
          Through my studies, I am gaining a deeper appreciation for Japanese customs, art, and societal values.
          This cultural exploration enriches my perspective and allows me to engage more meaningfully with a world that is both different and intriguing.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
